dataDivider/node_modules
dataDivider/.env
dataDivider/reviews
dataDivider/package-lock.json
hospitalScrapers/nmcScraper/node_modules
hospitalScrapers/nmcScraper/.env
hospitalScrapers/nmcScraper/package-lock.json
Sentiment Analysis_Reviews/reviews
Frontend_Hackrx_pune/node_modules
Frontend_Hackrx_pune/package-lock.json
GeoJSONGenerator/node_modules
GeoJSONGenerator/.env
GeoJSONGenerator/package-lock.json
GeoJSONGenerator/results.json
sentimentalEngineRunner/node_modules
sentimentalEngineRunner/.env
sentimentalEngineRunner/package-lock.json
geoEncoder/node_modules
geoEncoder/.env
geoEncoder/package-lock.json
hospitalScrapers/hosScraper/node_modules
hospitalScrapers/hosScraper/.env
hospitalScrapers/hosScraper/package-lock.json
reviewScraper/node_modules
reviewScraper/.env
reviewScraper/package-lock.json
correctionCode/node_modules
correctionCode/.env
correctionCode/package-lock.json
webapp/node_modules
webapp/.env
webapp/package-lock.json
Frontend_Hackrx_pune
backend/.env
backend/node_modules
backend/package-lock.json
